<app-header></app-header>
<br>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
    <title>Welcome to Circle</title>
  </head>

  <body>
    <!-- Register -->
    <div class="register">
      <div class="container">
        <div class="row">
          <div class="col-md-8 m-auto">
            <h1 class="display-4 text-center">Sign Up</h1>
            <p class="lead text-center">Create your Circle account</p>

            <!--storing /creating /redirecting to profile creation-->
            <form
            [formGroup]="regForm"
            (ngSubmit)="register(confirmPassword.value)"
          >
            <div class="form-group">
              <input
                formControlName="firstName"
                type="text"
                class="form-control form-control-lg"
                placeholder="FirstName"
                name="firstname"
                required
              />
  
              <div
                *ngIf="submitted && regForm.controls.firstName.errors"
                class="error"
              >
                <div
                  class="text-danger"
                  *ngIf="regForm.controls.firstName.errors.required"
                >
                  FirstName is required ..
                </div>
  
                <div
                  class="text-danger"
                  *ngIf="regForm.controls.firstName.errors.pattern"
                >
                  Enter a valid Firstname
                </div>
              </div>
  
              <br />
            </div>
  
            <div class="form-group">
              <input
                formControlName="lastName"
                type="text"
                class="form-control form-control-lg"
                placeholder="LastName"
                name="lastname"
                required
              />
  
              <div
                *ngIf="submitted && regForm.controls.lastName.errors"
                class="error"
              >
                <div
                  class="text-danger"
                  *ngIf="regForm.controls.lastName.errors.required"
                >
                  LastName is required ..
                </div>
  
                <div
                  class="text-danger"
                  *ngIf="regForm.controls.lastName.errors.pattern"
                >
                  Enter a valid lastname
                </div>
              </div>
  
              <br />
            </div>
  
            <div class="form-group">
              <input
                formControlName="userName"
                type="text"
                class="form-control form-control-lg"
                placeholder="enter User Name"
                name="userName"
              
                required
              />
  
              <div
                *ngIf="submitted && regForm.controls.userName.errors"
                class="error"
              >
                <div
                  class="text-danger"
                  *ngIf="regForm.controls.userName.errors.required"
                >
                  user name is required ..
                </div>
  
              
              </div>
  
              <br />
            </div>
  
            <div class="form-group">
              <input
                formControlName="email"
                type="email"
                class="form-control form-control-lg"
                placeholder="Email Address"
                name="email"
              />
  
              <div
                *ngIf="submitted && regForm.controls.email.errors"
                class="error"
              >
                <div
                  class="text-danger"
                  *ngIf="regForm.controls.email.errors.required"
                >
                  Email is required ..
                </div>
  
                <div
                  class="text-danger"
                  *ngIf="regForm.controls.email.errors.pattern"
                >
                  Enter a valid Email
                </div>
              </div>
  
              <br />
            </div>
  
            <div class="form-group">
              <input
                formControlName="password"
                type="password"
                class="form-control form-control-lg"
                placeholder="Password"
                name="password"
              />
  
              <div
                *ngIf="submitted && regForm.controls.password.errors"
                class="error"
              >
                <div
                  class="text-danger"
                  *ngIf="regForm.controls.password.errors.required"
                >
                  Password is required ..
                </div>
  
                <div
                  class="text-danger"
                  *ngIf="regForm.controls.password.errors.pattern"
                >
                  Enter a valid Password
                </div>
              </div>
  
              <br />
            </div>
  
            <div class="form-group">
              <input
                #confirmPassword
                type="password"
                class="form-control form-control-lg"
                placeholder="Confirm Password"
                name="password2"
              />
              <div *ngIf="flag == true" class="text-danger">
                <br />
  
                {{ message }}
              </div>
            </div>
  
            <input type="submit" class="btn btn-primary btn-block md-4" />
  
          
  
            <input type="reset" class="btn btn-info btn-block md-4" />
          </form>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
