<footer>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->


  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3 class="footertext"><a href="about">About</a></h3>
          <h3 class="footertext"><a href="#">Contact </a></h3>
          <h3 class="footertext"><a href="#">FAQ</a></h3>
        </div>

        <div class="col-md-3">
          <div class="align">
            <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains" />
            <br /> <br />
            <h4 class="footertext">Programmer</h4>
            <p class="footertext">
              You can thank all the crazy programming here to this guy.<br />
            </p>
          </div>
        </div>
        <br />

        <div class="col-md-3">
          <div class="align">
            <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="..." />
            <br /><br />
            <h4 class="footertext">Artist</h4>
            <p class="footertext">
              All the images here are hand drawn by this man.<br />
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="align">
            <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="..." />
            <br /> <br />
            <h4 class="footertext">Designer</h4>
            <p class="footertext">
              This pretty site and the copy it holds are all thanks to this
              guy.<br />
            </p>
          </div>
        </div>

      </div>
      
 

    </div>
  </div>
</footer>