<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-nav></app-nav>
  <br>
    <div class="container">
      <div class="row">
          <div class="col-md-3">
              <app-recommendation></app-recommendation>
          </div>

        <div class="col-md-6">
            <app-invitations></app-invitations>
            <app-friendlist></app-friendlist>
        </div>
        <div class="col-md-3">
        <div class="card-footer">
        
          
            <app-footer2></app-footer2>
          </div>
        </div>
      </div>
      <br/><br/>
    </div>
    </div>